@font-face {
  font-family: "roboto";
  src: url("./resources/roboto-fontfacekit/Roboto-Black-webfont.woff");
}

a {
    color: #f9faf8;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

/* HEADER MAIN ELEMENTS */

header {
    background-color: #1f2937;
    color: #f9faf8;
    font-family: "roboto";
    padding: 10px 150px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li a {
    font-size: 18px;
    color: #bbbdc1;
    font-weight: lighter;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
    margin-right: auto;
}
/* END OF HEADER MAIN ELEMENTS */

/* HEADER CLASSES */
.btn {
    background-color: blue; 
    color: white; 
    border-radius: 0.6em; 
    padding: 5px 20px;
    align-self: flex-start;
    border: 1px solid white;
    transition: all 0.3s ease;

}

.btn:hover {
    background-color: darkblue;
    cursor: pointer;
    transform: scale(1.1);
}

.hero {
    display: flex;
    gap: 25px;
  
}

.left-hero {
 display: flex;
 flex-flow: column ;
 gap: 10px;
}

.left-nav  h1 {
    font-size: 24px;
}

.left-hero h2 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.left-hero p {
    font-size: 18px;
    color: #bbbdc1;
    margin: 0;
}

.right-hero, .left-hero {
   flex: 1;
}

.right-hero {
    background-color: rgb(147, 147, 147);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 5%; */
}

/* END OF HEADER CLASSES */

/* ......................................................................................... */

/* MAIN MAIN ELEMENTS */

blockquote  p {
    margin: 0;
    font-family: "roboto";
}

main {
    display: flex;
    flex-direction: column;

}




/* END OF MAIN MAIN ELEMENTS */



/* MAIN CLASSES */

.author {
    align-self: flex-end;
    margin-right: 10%;
}

.card {
    width:15%;
    height: 15%;
    font-size: 18px;
    /* background-color: #172937; */
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    margin-bottom: 100px;
}

.final-cta {
    background-color: #3882f6;
    padding: 3% 10%;
    margin: 3em 7em;
    color: #f9faf8;
    border-radius: 0.7em;
}

.final-cta h3 {
    margin: 0;
}

.info {
    align-self: center;
    font-size: 36px;
    color: #172937;
    font-weight: 900;
    font-family: "roboto";
}

.sign-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quote {
    background-color: #E5E7EB;
}

.quoted {

    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    font-size: 36px;
    font-weight: 300;
    color: #172937;
}




/* END OF MAIN CLASSES */

/* ......................................................................................... */

/* FOOTER MAIN ELEMENTS */



/* END OF FOOTER MAIN CLASSES */







/* FOOTER CLASSES */



/* END OF FOOTER CLASSES */